{% extends "_global/index.html" %}

{% block main %}
    {{ message|escape }}
    <p>Vratite se na <a href="{{ BASE }}">početnu stranu</a>.</p>
{% endblock %}

{% block naslov %}
Kontakt
{% endblock %}
