{% extends "_global/index.html" %}

{% block main %}
<div>
    <form method=POST>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="forename">Ime* </label>
                <input type="text" class="form-control" id="forename" name="forename" pattern=".*[^\s]{3,}.*" maxlength="64" required>
            </div>
            <div class="form-group col-md-6">
                <label for="surname">Prezime*</label>
                <input type="text" class="form-control" id="surname" name="surname" pattern=".*[^\s]{3,}.*" maxlength="64" required>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email*</label>
            <input type="text" class="form-control" id="email" name="email" pattern=".*[^\s]{3,}.*" maxlength="255" required>
        </div>
        <div class="form-group">
            <label for="message">Poruka*</label>
            <textarea class="form-control" id="message" name="message" rows="5" pattern=".*[^\s]{3,}.*" maxlength="64000" required></textarea>
        </div>
        <p>Polja označena sa "*" su obavezna.</p>
        <div class="col-md-12 text-center">
            <button type="submit" class="btn block btn-primary">Pošalji</button>
        </div>
        </br>

    </form>
</div>
{% endblock %}

{% block naslov %}
Kontakt
{% endblock %}