{% extends "_global/adminIndex.html" %}

{% block main %}

<div class="container">
    <form method="post">
        <div class="form-group row">
            <label for="name">Naziv</label>

            <input class="form-control" type="text" required pattern=".*[^\s]{3,}.*" name="name" id="name" maxlength="50"
                value="{{ articleCategory.name|escape }}">

        </div>

        <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-success center-block" type="submit" name="submit">Potvrdi</button>
            <button class="btn btn-primary btn-warning center-block" type="submit" name="is_visible">Obriši</button>
        </div>
    </form>
</div>



</div>
{% endblock %}

{% block naslov %}
Izmena kategorije vesti
{% endblock %}