{% extends "_global/adminIndex.html" %}

{% block main %}


<div class="container">
    <form method="post">
        <div class="form-group row">
            <label for="name">Naziv</label>
            <input class="form-control" type="text" required pattern=".*[^\s]{3,}.*" name="name" id="name" maxlength="50" placeholder="Unesite naziv">
        </div>

        <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-success center-block" type="submit" name="submit">Potvrdi</button>
        </div>
    </form>
</div>

{% endblock %}

{% block naslov %}
Dodavanje kategorije vesti
{% endblock %}