{% extends "_global/adminIndex.html" %}

{% block main %}
    {{ message|escape }}
    <p>Vratite se na <a href="{{ BASE }}admin/panel">administratorski panel</a>.</p>
{% endblock %}

{% block naslov %}
Izmena kategorije vesti
{% endblock %}