{% extends "_global/adminIndex.html" %}

{% block main %}

<div class="container">
    <form method="post">
        <div class="form-group row">
            <label for="forename">Ime</label>

            <input class="form-control" type="text" required name="forename" id="forename" maxlength="64"
                value="{{ contact.forename|escape }}" pattern=".*[^\s]{3,}.*">

        </div>
        <div class="form-group row">
            <label for="surname">Prezime</label>

            <input class="form-control" type="text" required name="surname" id="surname" maxlength="64"
                value="{{ contact.surname|escape }}" pattern=".*[^\s]{3,}.*">

        </div>
        <div class="form-group row">
            <label for="email">Email: </label>

            <input class="form-control" type="text" required name="email" id="email" value="{{ contact.email|escape }}" maxlength="255" pattern=".*[^\s]{3,}.*">

        </div>
        <div class="form-group row">
            <label for="message">Poruka: </label>

            <textarea class="form-control rounded" rows="5"  required name="message" pattern=".*[^\s]{3,}.*" maxlength="64000"
                id="message">{{contact.message|escape}}</textarea>

        </div>
        <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-success center-block" type="submit" name="submit">Potvrdi</button>
            <button class="btn btn-primary btn-warning center-block" type="submit" name="is_visible">Obriši</button>
        </div>




    </form>
</div>
{% endblock %}

{% block naslov %}
Izmena kontakta
{% endblock %}