{% extends "_global/adminIndex.html" %}

{% block main %}


<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="short_description">Kratak opis: </label>
            <textarea class="form-control rounded" id="short_description" name="short_description" rows="5" pattern=".*[^\s]{3,}.*" maxlength="50"
                placeholder="Unesite kratak opis:" required></textarea>
        </div>

        <div class="form-group">
            <label for="image">Izaberite sliku: </label>
            <input class="form-control" type="file" name="image" id="image" accept="image/jpeg" required>
        </div>

        <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-success center-block" type="submit" name="submit">Potvrdi</button>
        </div>
    </form>


</div>

{% endblock %}

{% block naslov %}
Dodavanje slike u galeriju
{% endblock %}