{% extends "_global/adminIndex.html" %}

{% block main %}

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="short_description">Kratak opis: </label>
            <textarea class="form-control rounded" id="short_description" name="short_description" rows="5" pattern=".*[^\s]{3,}.*" maxlength="50"
                placeholder="{{ image.short_description|escape }}" required></textarea>
        </div>

        <div class="form-group">
            <label for="image">Izaberite sliku:</label>
            <input class="form-control" type="file" name="image" id="image" accept="image/jpeg">
        </div>

        <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-success center-block" type="submit" name="submit">Potvrdi</button>
            <button class="btn btn-primary btn-warning center-block" type="submit" name="is_visible">Obriši</button>
        </div>
    </form>
</div>



</div>
{% endblock %}

{% block naslov %}
Izmena slike u galeriji
{% endblock %}