{% extends "_global/adminIndex.html" %}

{% block main %}


<div class="container">
    <script type="text/javascript" src="{{ BASE }}assets/js/pageGetAdd.js"></script>
    <form method="post" enctype="multipart/form-data" onsubmit="return validateForm();">
        <div class="form-group row">
            <label for="title">Naslov: </label>
            <input class="form-control" type="text" required name="title" id="title" placeholder="Unesite naslov" maxlength="50">
        </div>

        <div class="form-group row">
            <label for="content">Sadržaj: </label>
            <textarea class="form-control rounded" id="content" name="content" rows="5" maxlength="64000"
                placeholder="Unesite sadržaj strane:" required></textarea>
        </div>

        <div class="form-group">
            <label for="image">Izaberite sliku: </label>
            <input class="form-control" type="file" name="image" id="image" accept="image/jpeg" required>
        </div>

        <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-success center-block" type="submit" name="submit">Potvrdi</button>
        </div>
        <div class="alert alert-warning d-none" id="error-message"></div>
    </form>

    

</div>

{% endblock %}

{% block naslov %}
Dodavanje kategorije vesti
{% endblock %}