{% extends "_global/adminIndex.html" %}

{% block main %}

<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group row">
                <label for="title">Naslov: </label>
                <input class="form-control" type="text" required maxlength="50" name="title" id="title" value="{{ page.title|escape }}" pattern=".*[^\s]{3,}.*">
            </div>

            <div class="form-group row">
                    <label for="content">Sadržaj: </label>
                    <textarea class="form-control rounded" id="content" name="content" rows="5" maxlength="64000" pattern=".*[^\s]{3,}.*"
                         required>{{ page.content|escape }}</textarea>
                </div>

        <div class="form-group">
            <label for="image">Izaberite sliku:</label>
            <input class="form-control" type="file" name="image" id="image" accept="image/jpeg">
        </div>

        <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-success center-block" type="submit" name="submit">Potvrdi</button>
            <button class="btn btn-primary btn-warning center-block" type="submit" name="is_visible">Obriši</button>
        </div>
    </form>
</div>



</div>
{% endblock %}

{% block naslov %}
Izmena kategorije vesti
{% endblock %}