{% extends "_global/adminIndex.html" %}

{% block main %}
<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Kontakt poruke
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center ">
                        <thead>
                            <tr>
                                <th scope="col">Adresa e-pošte</th>
                                <th scope="col">Ime</th>
                                <th scope="col">Prezime</th>
                                <th scope="col">Poruka</th>
                                <th style="width: 8%" id="edit_title" scope="col">Izmeni</th>
                                <th style="width: 8%" id="is_visible_title" scope="col">Vidljivost</th>
                            </tr>
                        </thead>

                        {% for contact in contacts %}
                        <tbody>
                            <tr>
                                <td>{{ contact.email|escape}}</td>
                                <td>{{ contact.forename|escape}}</td>
                                <td>{{ contact.surname|escape}}</td>
                                <td>{{ contact.message|escape}}</td>
                                <td style="width: 8%" id="edit_icon"><a class="btn btn-outline-primary"
                                        href="{{ BASE }}kontakt/izmeni/{{ contact.contact_id }}"><i
                                            class="fa fa-edit"></i></a></td>
                                <td style="width: 8%" id="is_visible_icon">
                                    {% if contact.is_visible == 0 %}
                                    <button class="btn btn-outline-primary" disabled><i
                                            class="fa fa-minus-circle"></i></button>
                                    {% endif %}
                                </td>

                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Kategorije vesti
                </button>
                <a class="btn btn-outline-primary float-right" href="{{ BASE }}vesti/kategorije/dodaj"><i
                        class="fa fa-plus"></i> Dodaj</a>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center ">
                        <thead>
                            <tr>
                                <th scope="col">Naziv</th>
                                <th style="width: 8%" id="edit_title" scope="col">Izmeni</th>
                                <th style="width: 8%" id="is_visible_title" scope="col">Vidljivost</th>
                            </tr>
                        </thead>

                        {% for articleCategory in articleCategories %}
                        <tbody>
                            <tr>
                                <td>{{ articleCategory.name|escape}}</td>
                                <td style="width: 8%" id="edit_icon"><a class="btn btn-outline-primary"
                                        href="{{ BASE }}vesti/kategorije/izmeni/{{ articleCategory.article_category_id }}"><i
                                            class="fa fa-edit"></i></a></td>
                                <td style="width: 8%" id="is_visible_icon">
                                    {% if articleCategory.is_visible == 0 %}
                                    <button class="btn btn-outline-primary" disabled><i
                                            class="fa fa-minus-circle"></i></button>
                                    {% endif %}
                                </td>

                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>




    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Vesti
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="false" aria-controls="collapseFour">
                    Kategorija proizvoda
                </button>
                <a class="btn btn-outline-primary float-right" href="{{ BASE }}proizvod/kategorije/dodaj"><i
                    class="fa fa-plus"></i> Dodaj</a>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center ">
                        <thead>
                            <tr>
                                <th scope="col">Naziv</th>
                                <th scope="col">Natkategorija</th>
                                <th style="width: 8%" id="edit_title" scope="col">Izmeni</th>
                                <th style="width: 8%" id="is_visible_title" scope="col">Vidljivost</th>
                            </tr>
                        </thead>

                        {% for productCategory in productCategories %}
                        <tbody>
                            <tr>
                                <td>{{ productCategory.name|escape}}</td>
                                <td>{{ productCategory.product_category_parent_id|escape}}</td>
                                <td style="width: 8%" id="edit_icon"><a class="btn btn-outline-primary"
                                        href="{{ BASE }}proizvod/kategorije/izmeni/{{ productCategory.product_category_id }}"><i
                                            class="fa fa-edit"></i></a></td>
                                <td style="width: 8%" id="is_visible_icon">
                                    {% if productCategory.is_visible == 0 %}
                                    <button class="btn btn-outline-primary" disabled><i
                                            class="fa fa-minus-circle"></i></button>
                                    {% endif %}
                                </td>

                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                    aria-expanded="false" aria-controls="collapseFive">
                    Proizvodi
                </button>
                <a class="btn btn-outline-primary float-right" href="{{ BASE }}proizvod/dodaj"><i
                    class="fa fa-plus"></i> Dodaj</a>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center ">
                        <thead>
                            <tr>
                                <th scope="col">Naziv</th>                                
                                <th scope="col">Opis</th>  
                                <th scope="col">Cena</th>                              
                                <th scope="col">Proizvođač</th>                              
                                <th scope="col">Broj slike</th>
                                <th scope="col">Kategorija</th>
                                <th style="width: 8%" id="edit_title" scope="col">Izmeni</th>
                                <th style="width: 8%" id="is_visible_title" scope="col">Vidljivost</th>
                            </tr>
                        </thead>

                        {% for product in products %}
                        <tbody>
                            <tr>
                                <td style="width: 15%">{{ product.name|escape}}</td>
                                <td>{{ product.description|escape}}</td>
                                <td>{{ product.price|escape}}</td>
                                <td>{{ product.manufacturer|escape}}</td>
                                <td style="width: 10%">{{ product.image_path }}</td>
                                <td>{{ product.product_category_id|escape}}</td>
                                <td style="width: 8%" id="edit_icon"><a class="btn btn-outline-primary"
                                        href="{{ BASE }}proizvod/izmeni/{{ product.product_id }}"><i class="fa fa-edit"></i></a>
                                </td>
                                <td style="width: 8%" id="is_visible_icon">
                                    {% if product.is_visible == 0 %}
                                    <button class="btn btn-outline-primary" disabled><i class="fa fa-minus-circle"></i></button>
                                    {% endif %}
                                </td>

                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                    aria-expanded="false" aria-controls="collapseSix">
                    Strane
                </button>
                <a class="btn btn-outline-primary float-right" href="{{ BASE }}strana/dodaj"><i class="fa fa-plus"></i>
                    Dodaj</a>
            </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center ">
                        <thead>
                            <tr>
                                <th scope="col">Naslov</th>
                                <th scope="col">Sadržaj</th>
                                <th scope="col">Broj slike</th>
                                <th style="width: 8%" id="edit_title" scope="col">Izmeni</th>
                                <th style="width: 8%" id="is_visible_title" scope="col">Vidljivost</th>
                            </tr>
                        </thead>

                        {% for page in pages %}
                        <tbody>
                            <tr>
                                <td style="width: 15%">{{ page.title|escape}}</td>
                                <td>{{ page.content|escape}}</td>
                                <td style="width: 10%">{{ page.image_path }}</td>
                                <td style="width: 8%" id="edit_icon"><a class="btn btn-outline-primary"
                                        href="{{ BASE }}strana/izmeni/{{ page.page_id }}"><i class="fa fa-edit"></i></a>
                                </td>
                                <td style="width: 8%" id="is_visible_icon">
                                    {% if page.is_visible == 0 %}
                                    <button class="btn btn-outline-primary" disabled><i
                                            class="fa fa-minus-circle"></i></button>
                                    {% endif %}
                                </td>

                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven"
                    aria-expanded="false" aria-controls="collapseSeven">
                    Galerija
                </button>
                <a class="btn btn-outline-primary float-right" href="{{ BASE }}slika/dodaj"><i class="fa fa-plus"></i>
                    Dodaj</a>
            </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center ">
                        <thead>
                            <tr>
                                <th scope="col">Kratak opis</th>
                                <th scope="col">Broj slike</th>
                                <th style="width: 8%" id="edit_title" scope="col">Izmeni</th>
                                <th style="width: 8%" id="is_visible_title" scope="col">Vidljivost</th>
                            </tr>
                        </thead>

                        {% for image in images %}
                        <tbody>
                            <tr>
                                <td style="width: 15%">{{ image.short_description|escape}}</td>
                                <td style="width: 10%">{{ image.image_path }}</td>
                                <td style="width: 8%" id="edit_icon"><a class="btn btn-outline-primary"
                                        href="{{ BASE }}slika/izmeni/{{ image.image_id }}"><i
                                            class="fa fa-edit"></i></a></td>
                                <td style="width: 8%" id="is_visible_icon">
                                    {% if image.is_visible == 0 %}
                                    <button class="btn btn-outline-primary" disabled><i
                                            class="fa fa-minus-circle"></i></button>
                                    {% endif %}
                                </td>

                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block naslov %}
Administratorski Panel
{% endblock %}