{% extends "_global/adminIndex.html" %}

{% block main %}


<div class="container">
    <form method="post">
        <div class="form-group row">
            <label for="name">Naziv</label>
            <input class="form-control" type="text" required pattern=".*[^\s]{3,}.*" name="name" id="name"
                maxlength="50" placeholder="Unesite naziv">
        </div>

        <div class="form-group row">
            <label class="col-form-label" for="product_category_id">Kategorija proizvoda kojoj će nova kategorija pripadati: </label>
            <select class="custom-select" name="product_category_id" id="product_category_id" required>
                <option value="" selected disabled hidden>Izaberite kategoriju proizvoda</option>
                {% for productCategory in productCategories %}
                <option value="{{productCategory.product_category_id|escape}}">{{productCategory.name|escape}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-success center-block" type="submit" name="submit">Potvrdi</button>
        </div>
    </form>
</div>

{% endblock %}

{% block naslov %}
Dodavanje kategorije proizvoda
{% endblock %}