{% extends "_global/adminIndex.html" %}

{% block main %}

<div class="container">
    <form method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label for="name">Ime</label>
            <input class="form-control" type="text" required pattern=".*[^\s]{3,}.*" name="name" id="name"
                maxlength="255" value="{{ product.name|escape }}">
        </div>

        <div class="form-group">
            <label for="price">Cena </label>
            <input class="form-control" type="number" min="1" max="999999" step="0.10" required name="price" id="price" value="{{ product.price|escape}}">
        </div>

        <div class="form-group">
            <label for="image">Izaberite sliku:</label>
            <input class="form-control" type="file" name="image" id="image" accept="image/jpeg">
        </div>

        <div class="form-group">
            <label for="description">Opis: </label>
            <textarea class="form-control rounded" id="description" name="description" rows="5" maxlength="64000"
                pattern=".*[^\s]{3,}.*" placeholder="Unesite opis:" required>{{ product.description|escape}}</textarea>
        </div>


        <div class="form-group">
            <label for="product_category_id">Odaberite kategoriju proizvoda: </label>
            <select id="product_category_id" name="product_category_id" class="form-control">
                {% for productCategory in productCategories %}
                <option value="{{ productCategory.product_category_id }}">
                    {{ productCategory.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="manufacturer">Manufacturer</label>
            <input class="form-control" type="text" required pattern=".*[^\s]{3,}.*" name="manufacturer"
                id="manufacturer" maxlength="255" value="{{ product.manufacturer|escape}}">
        </div>

        <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-success center-block" type="submit" name="submit">Potvrdi</button>
            <button class="btn btn-primary btn-warning center-block" type="submit" name="is_visible">Obriši</button>
        </div>


    </form>
</div>

{% endblock %}

{% block naslov %}
Izmena proizvoda
{% endblock %}