{% extends "_global/adminIndex.html" %}

{% block main %}

<div class="container">
    <form method="post">
        <div class="form-group row">
            <label for="name">Naziv</label>
            <input class="form-control" type="text" required pattern=".*[^\s]{3,}.*" name="name" id="name"
                maxlength="50" value="{{ productCategory.name|escape }}">
        </div>

        <div class="form-group row">
            <label class="col-form-label" for="product_category_id">Kategorija proizvoda kojoj će izmenjena kategorija pripadati: </label>
            <select class="custom-select" name="product_category_id" id="product_category_id">
                {% for productCategory in productCategory %}
                <option value="{{productCategory.product_category_parent_id|escape}}" selected hidden>
                    {{productCategory.name|escape}}</option>
                {% endfor %}
                {% for productCategory in productCategories %}
                <option value="{{productCategory.product_category_id|escape}}">{{productCategory.name|escape}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-12 text-center">
            <button class="btn btn-primary btn-success center-block" type="submit" name="submit">Potvrdi</button>
            <button class="btn btn-primary btn-warning center-block" type="submit" name="is_visible">Obriši</button>
        </div>
    </form>
</div>



</div>
{% endblock %}

{% block naslov %}
Izmena kategorije proizvoda
{% endblock %}