{% extends "_global/loginIndex.html" %}

{% block main %}
    {{ message|escape }}
    <p>Vratite se na <a href="{{ BASE }}admin/prijava">stranicu za prijavu</a>.</p>
{% endblock %}

{% block naslov %}
Prijava kao administrator
{% endblock %}
