{% extends "_global/loginIndex.html" %}

{% block main %}

<div>
    <form class="login-form" method=POST>

        <div class="form-group">
            <label for="username">Korisničko ime:</label>
            <input type="text" class="form-control" id="username" name="username" pattern=".*[^\s]{3,}.*" maxlength="64" required>
        </div>
        <div class="form-group">
            <label for="password">Lozinka:</label>
            <input type="password" class="form-control" id="password" name="password" pattern=".*[^\s]{3,}.*"  maxlength="64"required>
        </div>
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Prijava</button>
        </div>
        </br>

    </form>
</div>
{% endblock %}

{% block naslov %}
Prijava kao administrator
{% endblock %}