{% extends "_global/index.html" %}

{% block main %}
<div class="row">
    {% for product in products %}
    <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card product-item">
            <div class="card-body">
                <a href="{{ BASE }}product/{{ product.product_id }}" class="card-title">
                    {{ category.name|escape }}
                </a>

                <p class="card-text">Tekst</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block naslov %}
Spisak Proizvoda
{% endblock %}
