<!DOCTYPE html>
<html>

<head>

    <title>
        {% block naslov %}Administratorski panel{% endblock %}
    </title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ BASE }}assets/css/dashboardStyle.css">
</head>


<body>
    <header id="header">

        <nav class="navbar navbar-dark navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" href="{{ BASE }}admin/panel"><i class="fa fa-table"></i> Administratorski panel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item"><a class="nav-link" href="{{ BASE }}admin/odjava"><i
                                class="fa fa-sign-out"></i></a>
                </ul>
            </div>
        </nav>


    </header>

    <section class="container">


        <div class="container">
            {% block main %}
            ...
            {% endblock %}
        </div>



    </section>

    <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ BASE }}assets/js/script.js"></script>
    {% block script %}

    {% endblock %}
    <footer class="text-center" style="position: relative; bottom: 0; width: 100%;">
        &copy; 2019 Supermarket
    </footer>
</body>

</html>