<!DOCTYPE html>
<html>

<head>
    <title>
        {% block title %}Supermarket{% endblock %}
    </title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ BASE }}assets/css/style.css">
</head>

<body>
    <section class="container">
        <header class="row" id="main-header">
            <div class="col col-12 col-lg-6">
                <div class="social-icons">
                    <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                    <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>

            <div class="col col-12 col-lg-6">


                <div>
                    <form method="post" action="{{ BASE }}search">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" placeholder="Kljucne reci" name="search" class="form-control">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-outline-dark">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light bg-light col col-12">
                <a class="navbar-brand" href="{{ BASE }}"><i class="fa fa-home"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="{{ BASE }}vesti"><i
                                    class="fa fa-newspaper"></i>Vesti</a>
                        <li class="nav-item"><a class="nav-link" href="{{ BASE }}admin/prijava"><i
                                    class="fa fa-sign-in"></i> Prijava</a>
                        <li class="nav-item"><a class="nav-link" href="{{ BASE }}kontakt"><i
                                    class="fa fa-envelope"></i>Kontakt</a>
                    </ul>
                </div>
            </nav>
        </header>

        <div>
            {% block main %}
            ...
            {% endblock %}
        </div>

        <footer>
            &copy; 2019 Supermarket
        </footer>


    </section>

    <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="{{ BASE }}assets/js/bookmarks.js"></script>
</body>

</html>